body {
    font-weight: 400;
    line-height: 1.5;
    font-size: 100%;
}

header {
    padding: 8px 16px;
    border-bottom: 1px solid rgb(222, 222, 222);
    box-shadow: 0 0 8px 0 rgb(222, 222, 222);
    /* makes sure header is not less than 720px, it can go wider */
    min-width: 720px;
}

nav,
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 100px;
}

li {
    margin: 0 12px;
}

.button-links a,
.button-links a:hover {
    color: grey;
    text-decoration: none;
    text-align: center;
    padding: 4px 16px;
    border: 1px solid rgb(212, 212, 212);
    /* how round the vertices of the box are, just to make the buttons a little more modern */
    border-radius: 4px;
}

.button-links a:hover,
.button-links a:focus {
    box-shadow: 0 0 5px 2px rgb(65, 114, 238);
}

